[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-crispy-forms = "*"
django-allauth = "==0.43.0"
pillow = "*"
django-environ = "*"

[dev-packages]

[requires]
python_version = "3.8"
